body {
	color: var(--sapTextColor);
	background-color: var(--sapBackgroundColor);
	font-size: var(--sapFontSize);
	font-family: var(--sapFontFamily);
}

h1 {
	font-size: var(--sapFontHeader2Size);
	margin-bottom: 0.5rem;
}

h2 {
	font-size: var(--sapFontHeader3Size);
	margin-bottom: 0.5rem;
}

.app, .app-settings, .app-docs, .app-first-component  {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.app-first-component {
	margin-bottom: 3rem;
}

.app-docs {
	margin-top: 3rem;
}

a {
	margin: 0.25rem;
	color: var(--sapLinkColor);
}

.grid_layout {
	display: grid;
	grid-template-columns: repeat(2, 1fr); 
	grid-template-rows: repeat(2, 1fr); 
	gap: 10px; 
	@media (max-width: 768px) {
		grid-template-columns: 1fr;
	}
}